/* sss */
.tab {
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  margin-top: 20px;
}

/* タブメニュー */
.tab_menu {
  display: flex;
  align-items: flex-end; /* メニューを下揃え&高さを調整 */
  justify-content: center;
  height: 30px; /* メニュー切替時にタブがズレないように */
  padding: 0;
  margin: 0;
}

.tab_menu-item {
  list-style: none;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  transition: all .3s; /* アニメーション */
}

.tab_menu-item:last-of-type {
  margin-right: 0px;
}

/* is-activeがついている時のスタイル */
.tab_menu-item.is-active {
  background-color: black;
  color: #ffffff;
}

.tab_menu-item:hover {
  background-color: #708090;
  color: white;
  transition: all .3s;
}


.tab_panel {
  width: 100%;
  height: 100%;
}
 
.tab_panel-box {
  width: 800px;
  height: 100%;
  position: relative;
}

.tab_panel-box001 {
  display: none;
}

.tab_panel-box002 {
  display: none;
}

.tab_panel-box003 {
  display: none;
}

.tab_panel-box004 {
  display: none;
}

.tab_panel-box005 {
  display: none;
}

.tab_panel-box006 {
  display: none;
}

.tab_panel-box007 {
  display: none;
}

/* is-showがついている時のスタイル */
.tab_panel-box.is-show {
  display: block;
}

.top_image {
  width: 800px;
  height: 480px;
  object-fit: cover;
  opacity: 0.7;
}

.tokyo_image {
  position: absolute;
  width: 500px;
  left: 150px;
  top: 110px;
  object-fit: contain;
  opacity: 0.8;
}

.city_list {
  list-style: none;
  position: absolute;
  top: 0;
  color: black;
}

.city_list_item {
  position: absolute;
  padding-top: 5px;
  width: 100px;
  height: 100px;
  border: 1px #ffffff solid;
  background-color: #ffffff;
  opacity: 0.9;
  text-align: center;
  border-radius: 20px;
  font-size: 14px;
}

.okutama {
  top: 50px;
  left: 20px;
}

.oume {
  left: 195px;
}

.tachikawa {
  left: 345px;
}

.nerima {
  left: 510px;
}

.shinjuku {
  left: 660px;
  top: 50px;
}

.chiyoda {
  left: 680px;
  top: 210px;
}

.shinagawa {
  left: 580px;
  top: 350px;
}

.setagaya {
  left: 400px;
  top: 350px;
}

.hachioji {
  left: 200px;
  top: 350px;
}

.hinohara {
  left: 80px;
  top: 210px;
}

.temperature {
  display: flex;
  font-size: 12px;
  margin: 0 auto;
  width: 65%;
}

.high {
  color: #D8315B;
}

.row {
  color: #3E92CC;
}

.symbol_image{
  height: 35%;
  width: 35%;
}

.rainy_percent {
  margin: 0 auto;
  font-size: 12px;
}
