.weather_comparison_box {
  max-width: 800px;
  margin: 25px auto;
  border-bottom: 3px solid black;
}

.weather_comparison_title {
  font-size: 25px;
  line-height: 25px;
  vertical-align: bottom; 
}

.weather_comparison_bar {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 3px black;
}

.setting_box {
  display: flex;
  justify-content: flex-end;
  gap:15px;
  font-size: 15px;
}


#weather-comparison-form{
  display: flex;
}

.comparison_button {
  height: 30px;
  display: block;
  margin: auto;
  color: white;
  background-color: black;
  border: none;
}

.comparison_button:hover {
  background-color: white;
  color: black;
}


.weather_comparison_block {
  margin-top: 20px;
  display: flex;
  margin-bottom: 10px;
}

.comparison_main_box {
  width: 50%;
  text-align: center;
  border-left: solid 1px black;
  border-bottom: solid 1px black;

}

.comparison_sub_box {
  width: 50%;
  text-align: center;
  border-left: solid 1px black;
  border-bottom: solid 1px black;
  margin-left: 10px;
}

.main_image_box {
  margin-top: 10px;
  width: 60%;
  display: flex;
}

.main_data_table {
  width: 40%;
  text-align: start;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 15px;
}

.comparison_main_image {
  width:auto;
  height:auto;
  width: 50%;
  height: auto;
  object-fit: contain;
}

table td {
  padding: 0;
}

.main_area {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 100px;
}

.main_yosooimemo_area {
  text-align: start;
  padding: 20px;
}

.sub_image_box {
  margin-top: 10px;
  width: 60%;
  display: flex;
}

.sub_data_table {
  width: 40%;
  text-align: start;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 15px;
}

.sub_area {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 100px;
}

.sub_yosooimemo_area {
  text-align: start;
  padding: 20px;
}

.setting_box_text {
  line-height: 30px;
  height: 30px;
}
