<div class="menubar">
  <ul class="menulist">
    <li>TOP</li>
    <li>地域別</li>
    <li>過去の天気と比較</li>
    <li>yoosoi memo</li>
    <li>ライブカメラ</li>
  </ul>
</div>
<%= render 'layouts/weathermap' %>
<p class="yosoi_text">yosooi memo</p>
<%=@result%>
<div class="memo_box"></div>
<div class="city_select_list">
  <h2>地域別</h2>
  <% @weathermap_municipalities.each do |item| %>
    <%= link_to item.name, weather_path(item.id), data: { turbo: false } %>
  <% end %>
</div>
<%= render 'layouts/weathercomparison' %>
<h2>yosooi memo</h2>
<h2>ライブカメラ</h2>
