<div class="menubar">
  <ul class="menulist">
    <li>TOP</li>
    <li>地域別</li>
    <li>過去の天気と比較</li>
    <li>yoosoi memo</li>
    <li>ライブカメラ</li>
  </ul>
</div>
<%= render 'layouts/weathermap' %>
<p class="yosoi_text">yosooi memo</p>
<div class="memo_box"></div>
<div class="city_select_list">
  <h2>地域別</h2>
  <div class="area_container">
    <h3>東京２３区</h3>
    <ul class="area_box">
      <% @ward_municipalities.each do |item| %>
      <li><%= link_to item.name, weather_path(item.id), class: "area_box_link", data: { turbo: false } %></li>
      <% end %>
    </ul>
  </div>
  <div class="area_container">
    <h3>多摩地区</h3>
      <ul class="area_box">
      <% @tama_municipalities.each do |item| %>
        <li><%= link_to item.name, weather_path(item.id), class: "area_box_link", data: { turbo: false } %></li>
      <% end %>
      </ul>
  </div>
</div>
<%= render 'layouts/weathercomparison' %>
<h2>yosooi memo</h2>
<h2>ライブカメラ</h2>
