<div class="weather_comparison_box">
  <div class="weather_comparison_bar">
    <h2 class="weather_comparison_title">過去の天気と比較</h2>
    <div class="setting_box">
      <div class="main_day">
        <h3>今日の渋谷の天気と</h3>
        
      </div>
      <div class="sub_day">
        <h3>●●日を</h3>
      </div>
      <button class="comparison_button">比較する</button>
    </div>
  </div>
  <div class="weather_comparison_block">
    <div class="comparison_main_box">
      <p>今日の渋谷　４月22日</p>
      <div class="main_area">
        <div class="main_image_box">
          <%= image_tag 'rain.png', class:"comparison_main_image"%>
          <%= image_tag 'rain.png', class:"comparison_main_image"%>
        </div>
        <table class="main_data_table">
          <tr class="high">
            <td>最高気温</td><td>20°</td>
          </tr>
          <tr class="row">
            <td>最低気温</td><td>18°</td>
          </tr>
          <tr>
            <td>降水確率</td><td>20%</td>
          </tr>
        </table>
      </div>
      <div class="main_yosooimemo_area">
        <p>こんな装いメモがありました</p>
        <p>ユーザー　今日はこんな服装にしようかな〜</p>
      </div>
    </div>
    <div class="comparison_sub_box">
      <p>明日の渋谷　4月23日</p>
            <div class="main_area">
        <div class="main_image_box">
          <%= image_tag 'rain.png', class:"comparison_main_image"%>
          <%= image_tag 'rain.png', class:"comparison_main_image"%>
        </div>
       <table class="main_data_table">
          <tr class="high">
            <td>最高気温</td><td>20°</td>
          </tr>
          <tr class="row">
            <td>最低気温</td><td>18°</td>
          </tr>
          <tr>
            <td>降水確率</td><td>20%</td>
          </tr>
        </table>
      </div>
      <div class="main_yosooimemo_area">
        <p>こんな装いメモがありました</p>
        <p>ユーザー　今日はこんな服装にしようかな〜</p>
      </div>
    </div>
  </div>
  <div class="coment_area">
      <p>comment</p>
      <p>まるまる日はまるまる日に比べて最低気温１度プラス、最高気温２度プラスと<p>
  </div>
</div>
