<!DOCTYPE html>
<html>
  <head>
    <title>Myapp2</title>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
     <meta http-equiv="cache-control" content="no-cache">
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
  </body>
</html>
